<div style="">
<div class="" >
  <%= link_to("Add a group", new_group_path, class: "btn pull-right", style: "color:red;background-color:green") %>
</div>

<table class="col-md-12 table tabel-hover">
  <thead class="">
    <tr>
      <td>#</td>
      <td>Title </td>
      <td>Description</td>

      <td>管理菜单</td>

      <td>所有者</td>
    </tr>
  </thead>
  <tbody>
  <%= render :partial => "group_item", :collection => @groups, :as => :group %>
  </tbody>

</table>
</div>
